body {
  overflow-x: hidden;
  font-family: Alegreya Sans SC;
}

.fixed-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  position: absolute;
  background: linear-gradient(90deg, rgba(33, 33, 33, 0.6), rgba(33, 33, 33, 0.6)), url(../IMGS/lbg1.jpg);
  z-index: -10;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.container-center {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0);
  transition: 1s ease-out;
}

.container-left {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  transform: translate(-200%);
  transition: 1s ease-out;
}

.load {
  width: 100%;
  height: 100vh;
  background: rgba(33, 33, 33, 0.9);
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  display: block;
  transition: 1s;
}
.load .trident {
  background: url(../IMGS/light2.png);
  width: 500px;
  height: 500px;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 1s;
  transition-delay: 4s;
}
.load .trident2 {
  background: url(../IMGS/light1.png);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-size: cover;
  width: 500px;
  height: 500px;
  transition: 1s;
  transition-delay: 4s;
  animation: flicker 1s linear infinite;
}

.log1 {
  width: 500px;
  height: 500px;
  background: url(../IMGS/light2.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  transition-delay: 4s;
}

.log2 {
  width: 500px;
  height: 500px;
  background: url(../IMGS/light1.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  transition-delay: 4s;
  animation: flicker2 2s linear infinite;
}

.text-container {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 9000;
  opacity: 0;
  transition: 1s;
  transition-delay: 4.5s;
  transform: translate(0, 30%);
}
.text-container h2 {
  color: white;
  margin: 0;
  margin-top: 30px;
  font-size: 80px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 5px;
  margin-left: -2.5px;
}
.text-container h4 {
  color: #a5273f;
  margin-top: -15px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 10px;
  text-transform: uppercase;
  opacity: 0.75;
  margin-bottom: 40px;
  margin-left: -5px;
}
.text-container a {
  display: block;
  font-size: 30px;
  color: #c6c6c6;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  height: 60px;
  letter-spacing: 5px;
  transition: 0.5s;
  margin-left: -2.5px;
}
.text-container a:hover {
  color: #a5273f;
}

.link1 {
  opacity: 0;
  transition: 1s;
  transition-delay: 7s;
  transform: translate(0, -50%);
}

.link2 {
  opacity: 0;
  transition: 1s;
  transition-delay: 7s;
  transform: translate(0, -50%);
}

.link3 {
  opacity: 0;
  transition: 1s;
  transition-delay: 7s;
  transform: translate(0, -50%);
}

::-webkit-scrollbar {
  width: 7.5px;
  background: rgba(33, 33, 33, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 150px;
  background: rgba(66, 66, 66, 0.5);
}

@keyframes flicker {
  0% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker2 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  20% {
    opacity: 0.6;
  }
  22% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  53% {
    opacity: 0.8;
  }
  56% {
    opacity: 0.5;
  }
  58% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  77.5% {
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  82.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker3 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  15% {
    opacity: 0.65;
  }
  17% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  53% {
    opacity: 0.9;
  }
  56% {
    opacity: 1;
  }
  58% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  77.5% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  82.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*about section*/
#back-right {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50px;
  right: 0;
  cursor: pointer;
}

#back-right .custom-size {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  transition: 0.5s;
}

#back-right:hover .custom-size {
  color: #a5273f;
}

.container-left {
  font-family: Source Sans Pro;
}
.container-left h2 {
  text-align: center;
  margin-top: 20vh;
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 0;
}
.container-left h2 #hi {
  opacity: 0;
  transition: 2s;
  color: #ddd;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.container-left h2 #name {
  opacity: 0;
  transition: 2s;
  color: #a5273f;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.container-left #about-text {
  opacity: 0;
  margin-top: 50px;
  transition: 2s;
  text-align: center;
  font-size: 18px;
  color: #aaa;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0px 150px;
}

.lang-icons img {
  display: block;
  width: 100px;
  margin: auto;
}

.lang1 {
  opacity: 0;
  transition: 1s;
}

.lang2 {
  opacity: 0;
  transition: 1s;
}

.lang3 {
  opacity: 0;
  transition: 1s;
}

.lang4 {
  opacity: 0;
  transition: 1s;
}

.lang5 {
  opacity: 0;
  transition: 1s;
}

.lang6 {
  opacity: 0;
  transition: 1s;
}

/*Project Container*/
.container-right {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  transition: 1s ease-out;
  transform: translate(200%);
  color: white;
}
.container-right h2 {
  text-align: center;
  font-family: Source Sans Pro;
  color: #ddd;
  text-transform: uppercase;
  margin: 0;
  margin-top: 50px;
}

#back-left {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50px;
  left: 0;
  cursor: pointer;
}

#back-left .custom-size {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  transition: 0.5s;
}

#back-left:hover .custom-size {
  color: #a5273f;
}

.project-row {
  width: 85%;
  margin: auto;
  margin-top: 15vh;
}

.project-card {
  background: white;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 300px;
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 15px black;
}

.project1 .card-i {
  background: url(../IMGS/rsg.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  filter: grayscale(0) blur(0);
}

.project2 .card-i {
  background: url(../IMGS/phel.jpg);
  background-size: cover;
  width: 101%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  filter: grayscale(0) blur(0);
}

.project3 .card-i {
  background: url(../IMGS/peg.jpg) center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  filter: grayscale(0) blur(0);
}

.project4 .card-i {
  background: url(../IMGS/per.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  filter: grayscale(0) blur(0);
}

.card-overlay1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  background: rgba(33, 33, 33, 0.8);
}

.desc {
  width: 100%;
  text-align: center;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 0;
  font-family: Source Sans Pro;
  transform: translate(0, 150%);
  transition: 0.5s;
}
.desc .name {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #d44762;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin: 0;
}
.desc .date {
  margin-top: -5px;
  margin-bottom: 0;
  color: #666;
  font-weight: 600;
}
.desc .state {
  font-size: 16px;
  color: #aaa;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0 10px;
}
.desc .notes {
  font-size: 18px;
  padding: 0 20px;
}
.desc .visit {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.5s;
  background: rgba(88, 88, 88, 0.4);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.desc .visit:hover {
  background: #a5273f;
}

.project-card:hover .card-i {
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  filter: grayscale(1) blur(5px);
}
.project-card:hover .card-overlay1 {
  opacity: 1;
}
.project-card:hover .card-overlay2 {
  opacity: 1;
}
.project-card:hover .desc {
  transform: translate(0, -50%);
}

.tab1 {
  opacity: 1;
  transition: 1s;
  position: relative;
  z-index: 5;
}

.tab2 {
  position: absolute;
  top: 15vh;
  z-index: 4;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -5%);
  transition: opacity 1s, top 0.01s;
}

.pager {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, 0%);
}

.pager a {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: #777;
  text-align: center;
  transition: 1s;
}

.neon {
  font-size: 46px !important;
  color: #fff !important;
  text-shadow: 0 0 15px #db3434;
}

.project1 {
  opacity: 0;
  transition: 1s;
}

.project2 {
  opacity: 0;
  transition: 1s;
}

.project3 {
  opacity: 0;
  transition: 1s;
}

.project4 {
  opacity: 0;
  transition: 1s;
}

@media (max-width: 800px) {
  .text-container h2 {
    font-size: 50px;
    letter-spacing: initial;
    margin-bottom: 10px;
  }
  .text-container h4 {
    font-size: 34px;
    letter-spacing: initial;
  }

  #about-text {
    padding: 0 50px !important;
  }

  .project-row {
    margin-top: 5vh;
  }
}
@media (max-width: 700px) {
  .container-left h2 {
    margin-top: 10vh;
  }
}
@media (max-width: 500px) {
  .trident, .trident2, .log1, .log2 {
    width: 400px !important;
    height: 400px !important;
  }

  #about-text {
    padding: 0 20px !important;
  }

  .container-left h2 {
    font-size: 45px;
    line-height: 50px
  }

  .text-container {
    top: 70%;
  }
  .text-container h2 {
    font-size: 50px;
    letter-spacing: initial;
    margin-bottom: 10px;
  }
  .text-container h4 {
    font-size: 34px;
    letter-spacing: initial;
  }
}
@media (max-width: 400px) {
  .text-container {
    top: 70%;
  }
  .text-container h2 {
    font-size: 40px;
  }
  .text-container h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .text-container a {
    font-size: 24px;
  }

  .project-card {
    height: 400px;
  }

  .container-right h2 {
    font-size: 30px;
    margin: 20px 0 0 0;
  }

  #back-left, #back-right {
    top: 2vh;
  }
}

/*# sourceMappingURL=main.css.map */
